html {
	font-size: 14px;
	min-height: 100%;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
		min-height: 100%;
	}
}

body {
	margin-bottom: 60px;
	margin-left: 0px;
}

nav#navBar{
	background:#edeeee;
	position:relative;
	z-index:100;
	min-height:40px;
	min-width:300px;
}
nav#navBar a{
	text-decoration:none;
}
.MenuHoriz{
	width:100%;
	margin:auto;
	margin-left:60px;
	display:flex;
	flex-direction:row;
	align-items:stretch;
}
.MenuHoriz>li{
	flex:0 0 auto;
	display:flex;
	align-items:center;
	font-size:1.075em;
	font-weight:600;
	margin-left:15px;
}

header{
	background:#0a233f;
	color:#fff;
	margin: 0;
}
header .container{
	display:flex;
	flex-direction:row;
}
header .logo{
	flex:1 1 250px;
	padding:15px 0px;
}
header .logo img{
	height: 100px;
	width: unset;
}
header .right{
	flex:1 1 auto;
	min-height:106px;
}
header .actionLinks{
	margin:.5em 0 1em 0;
	text-align: right;
	list-style-type: none;
}
header .actionLinks li{
	display:inline-block;
}
header .actionLinks a{
	color:#fff;
	text-decoration:none;
}
header .actionLinks a:hover{
	border-bottom:#009CC7 1px dotted;
	opacity:1;
	color:#009CC7;
	text-decoration:none !important;
}
header .actionLinks a:focus{
	border-bottom:#009CC7 1px dotted;
	opacity:1;
	color:#009CC7;
}
header .searchBar{
	text-align:right;
	margin-top:20px;
	font-size:1em;
	display:flex;
	flex-direction:column;
	align-items:flex-end;
}
header .searchBar>div{
	flex:1 1 auto;
	max-width:360px;
}
header .searchSelect{
	float:right;
	min-width:265px;
}
header .searchSelect fieldset{
	display:inline-block;
}
header .searchSelect label{
	font-size:.75em;
	font-weight:normal;
	margin-left:10px;
	margin-bottom:0px;
}
header .adminOptions{
	font-size:.75em;
	margin:0px 0px 0px 15px;
	float:right;
	text-align:right;
}
header .adminOptions a{
	color:#fff;
	text-decoration:none;
	font-size:.90em;
}
header .adminOptions a:hover{
	border-bottom:#009CC7 1px dotted;
	opacity:1;
	color:#009CC7;
	text-decoration:none !important;
}
header .searchBtn{
	display:none;
}
header input:focus{
	outline:2px solid #81d1e2 !important;
	outline-offset:4px !important;
}

.search-home {
	box-sizing: border-box;
	width: 100%;
}

.box-container {
	box-sizing: border-box;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 500px;
	left: 33%;
	top: 33%;
	background: #FFFFFF;
	border: 1px solid #000000;
}

.box-heading {
	text-align: center;
}

.box-form {
	margin-left: 50px;
	margin-right: 50px;
}

.box-forminput {

}

.box-button {
	background: #0A233F;
	border: 1px solid #000000;
	width: 250px;
	height: 40px;
	margin-left: 75px;
	margin-right: 75px;
	font-size: 18px;
	color: white;
	
	
}

.box-rememberMe {
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
	appearance: checkbox;
	display: inline-block;
	width: auto;
	margin-left: 0px;
}

.box-forgotPassword {
	display: inline-block;
	float: right;
	margin-right: 0px;

}

.box-bottomtext {
	display: block;
	text-align: center;
	font-size: 14px;
	margin-top: 2px;
	vertical-align: top;
}
a.box-bottomtext {
	margin-top: -17px;
}

.box-padding {
	padding-top: 25px;
	padding-bottom: 25px;
}

.account-header {
	padding-top: 25px;
	display: flex;
	justify-content: space-between;
}

.account-search {
	font-size: 16px;
	display: inline-block;
}

.account-edit {
	color: black;
	text-decoration: none;
	float: right;
}

.account-delete {
	color: black;
	text-decoration: none;
	float: right;
	padding-left: 10px;
}

table, th, td {
	border-collapse: collapse; 
	border: 1px solid black;
	border-top: 1px solid black;
	
}

tr:nth-child(even) {
	background-color: #EDEEEE;
	
}





