################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VIPS/FileContentIndex/dec9a2cd-557d-4bf2-bcbb-0664d7d4db36.vsidx
