################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VIPS/config
/.vs/VIPS/FileContentIndex
/VIPS/.vs/VIPS/FileContentIndex/c5399961-90cd-4b2a-b021-3a6dc51281b7.vsidx
