@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
  <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="~/css/searchStyle.css"/>
</head>     
<body>


<!--Make sure the form has the autocomplete function switched off:-->




 <script src="~/js/search.js"></script>

</body>
</html>
