<h1>Visualization</h1>

<div class="container border">
    <div id="mynetwork"></div>
    <div id="sidebar" class="sidebar">
        <a href="#" id="sidebarName"></a>
        <div id="sidebarTags"></div>
        <div id="sidebarDesc"></div>
    </div>
</div>

@code {
    private bool _isSidebarShown = false;
}




    


