@using VIPS.Components

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Visualization of Institutional Partnerships System</h1>
    <h4>UNF Center for Community-Based Learning</h4>
</div>

<br />
<div>
    <input type="text" id="searchBox" placeholder="Search..." class="search-home" />
    <p>Search for connections between UNF Departments and our community partners</p>
    <button onclick="searchContracts()" class="btn btn-primary">Search</button>
</div>

<div class="visualization-container">
    <div id="mynetwork"></div>
    <div id="sidebar" class="sidebar">
        <div id="sidebarNode">
        </div>
        <div id="sidebarEdge">
        </div>
    </div>
</div>

<div id="visnavbar" class="visnavbar">
    <button id="filterbtn" type="button">Filters</button>
    <div class="filtermenu menu-container menu-container-upwards">
        <a href="#">Option 1</a>
        <a href="#">Option 2</a>
        <a href="#">Option 3</a>
    </div>
    <button id="legendbtn" type="button">Legend</button>
    <div class="legendmenu menu-container menu-container-upwards">
        <a href="#">Option 1</a>
        <a href="#">Option 2</a>
        <a href="#">Option 3</a>
    </div>
    <button id="settingsbtn" type="button">Settings</button>
    <div class="settingsmenu menu-container menu-container-upwards">
        <a href="#">Option 1</a>
        <a href="#">Option 2</a>
        <a href="#">Option 3</a>
    </div>
</div>

<script>
    document.getElementById('filterbtn').addEventListener('click', function () {
        toggleMenu('filtermenu');
        closeOtherMenus('filtermenu');
    });

    document.getElementById('legendbtn').addEventListener('click', function () {
        toggleMenu('legendmenu');
        closeOtherMenus('legendmenu');
    });

    document.getElementById('settingsbtn').addEventListener('click', function () {
        toggleMenu('settingsmenu');
        closeOtherMenus('settingsmenu');
    });

    function toggleMenu(menuClass) {
        var menu = document.querySelector('.' + menuClass);
        menu.classList.toggle('active');
    }

    function closeOtherMenus(activeMenu) {
        var menus = ['filtermenu', 'legendmenu', 'settingsmenu'];
        menus.forEach(function (menu) {
            if (menu !== activeMenu) {
                var otherMenu = document.querySelector('.' + menu);
                if (otherMenu.classList.contains('active')) {
                    otherMenu.classList.remove('active');
                }
            }
        });
    }
</script>



<script>
    function searchContracts() {
        var searchString = document.getElementById('searchBox').value.toLowerCase();


        var departmentMapping = {
            "brooks college of health": "nursing",
            "coggin college of business": "business",
            "college of arts and sciences": "arts",
            "college of computing": "computing",
            "college of engineering and construction": "engineering",
            "college of education and human services": "education",
            "college of construction": "construction",
            "college of education": "education",
            "college of human services": "human services"

        };


        if (departmentMapping.hasOwnProperty(searchString)) {
            searchString = departmentMapping[searchString];
        }

        window.location.href = '/Search/SearchView?searchString=' + encodeURIComponent(searchString);
    }
</script>