@using VIPS.Components

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Visualization of Institutional Partnerships System</h1>
    <h4>UNF Center for Community-Based Learning</h4>
</div>

<br />
<div>
    <input type="text" id="searchBox" placeholder="Search..." class="search-home" />
    <p>Search for connections between UNF Departments and our community partners</p>
    <button onclick="searchContracts()" class="btn btn-primary">Search</button>
</div>

<div class="visualization-container">
    <div id="mynetwork"></div>
    <div id="sidebar" class="sidebar">
        <div id="sidebarNode">
        </div>
        <div id="sidebarEdge">
        </div>
    </div>
</div>


    <div id="visnavbar" class="visnavbar">
    <button id="filterbtn" type="button">Filters</button>
    <div class="filtermenu menu-container menu-container-upwards">
        <a href="#">fOption 1</a>
        <a href="#">Option 2</a>
        <div id="deptList" class="dropdown-check-list" tabindex="100">
        </div>
    </div>
    <button id="legendbtn" type="button">Legend</button>
    <div class="legendmenu menu-container menu-container-upwards">
        <a href="#">lOption 1</a>
        <a href="#">Option 2</a>
        <a href="#">Option 3</a>
    </div>
    <button id="settingsbtn" type="button">Settings</button>
    <div class="settingsmenu menu-container menu-container-upwards">
        <a href="#">sOption 1</a>
        <a href="#">Option 2</a>
        <a href="#">Option 3</a>
    </div>
</div>

<script>

    //var checkList = document.getElementById('deptList');
    //checkList.querySelector('.c').onclick = function (evt) {
    //    if (checkList.classList.contains('visible'))
    //        checkList.classList.remove('visible');
    //    else
    //        checkList.classList.add('visible');
    //}

    document.getElementById('filterbtn').addEventListener('click', function () {
        toggleMenu('filtermenu');
        closeOtherMenus('filtermenu');
    });

    document.getElementById('legendbtn').addEventListener('click', function () {
        toggleMenu('legendmenu');
        closeOtherMenus('legendmenu');
    });

    document.getElementById('settingsbtn').addEventListener('click', function () {
        toggleMenu('settingsmenu');
        closeOtherMenus('settingsmenu');
    });

    function toggleMenu(menuClass) {
        var menu = document.querySelector('.' + menuClass);
        menu.classList.toggle('active');
    }

    function closeOtherMenus(activeMenu) {
        var menus = ['filtermenu', 'legendmenu', 'settingsmenu'];
        menus.forEach(function (menu) {
            if (menu !== activeMenu) {
                var otherMenu = document.querySelector('.' + menu);
                if (otherMenu.classList.contains('active')) {
                    otherMenu.classList.remove('active');
                }
            }
        });
    }
</script>

