

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Visualization of Institutional Partnerships System</h1>
    <h4>UNF Office of Experiential Learning</h4>
</div>

<br />
<div>
    <input type="text" id="searchBox" placeholder="Search..." class="search-home" />
    <p>Search for connections between UNF Departments and our community partners</p>
    <button onclick="searchContracts()" class="btn btn-primary">Search</button>
</div>

<div class="visualization-container">
    <div id="mynetwork"></div>
    <div id="sidebar" class="sidebar">
        <div id="sidebarNode">
        </div>
        <div id="sidebarEdge">
        </div>
    </div>
</div>

