@using VIPS.Components

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Visualization of Institutional Partnerships System</h1>
    <h4 >UNF Center for Community-Based Learning</h4>
</div>

<br />
<div>
    <input type="text" placeholder="Search..." class="search-home" />
    <p>Search for connections between UNF Departments and our community partners </p>
    <a asp-action="SearchView" asp-controller="Search" class="btn btn-primary">Search</a>
</div>

<div class="visualization-container">
    <div id="mynetwork"></div>
    <div id="sidebar" class="sidebar">
        <div id="sidebarNode">

        </div>
        <div id="sidebarEdge">
            
        </div>
    </div>
</div>


