

@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Visualization of Institutional Partnerships System</h1>
    <h4>UNF Office of Experiential Learning</h4>
</div>

<br />

<div class="search-container">
    <input type="text" id="searchBox" placeholder="Search..." class="search-home" />
    <button onclick="searchContracts()" class="btn btn-primary">Search</button>
</div>
<p>Search for connections between UNF Departments and our community partners</p>


<div id="visualizationContainer" class="visualization-container">
    <div id="mynetwork"></div>
    <div id="overlay" class="overlay">
        <div id="totalNodes" class="totalEdges"></div>
        <div id="totalEdges" class="totalEdges"></div>
    </div>
    <div id="sidebar" class="sidebar">
        <div id="sidebarNode"></div>
        <div id="sidebarEdge"></div>
    </div>

</div>

<div id="visnavbar" class="visnavbar">
    <button id="filterbtn" type="button">Filters</button>
    <div class="filtermenu menu-container menu-container-upwards" style="height: 500px; overflow-y: scroll;">
        <div class="divider" style="margin: 10px 0;"></div>
        <h6 style="display: flex; justify-content: center; align-items: center;">Edge Filters</h6>
        <div id="edgeList" class="dropdown-check-list" tabindex="100">
            <input type="checkbox" class="edge-filter" id="color-red" value="#C41F4B">
            <label for="color-red">Expired</label><br>

            <input type="checkbox" class="edge-filter" id="color-yellow" value="FFC62F">
            <label for="color-yellow">6 Months to Expired</label><br>

            <input type="checkbox" class="edge-filter" id="color-green" value="76BC43">
            <label for="color-green">Active</label><br>
         </div>
        <div class="divider" style="margin: 10px 0;"></div>
        <h6 style="display: flex; justify-content: center; align-items: center;">Node Filters</h6>
        <div id="deptList" class="dropdown-check-list" tabindex="100">
        </div>
        <div class="submit-filters-container-bottom">
            <button id="submitFilters" style="height:50px; ">Submit Filters</button>
        </div>
    </div>
    <button id="legendbtn" type="button">Legend</button>
    <div class="legendmenu menu-container menu-container-upwards" style="padding: 10px;">
        <div class="legend-section">
            <h4 style="margin-bottom: 5px;">Nodes</h4>
            <div class="legend-item">
                <i class="bi bi-square-fill" tag="schools" style="color: purple; font-size: 20px; margin-right: 5px;"></i>
                Schools
            </div>
            <div class="legend-item">
                <i class="bi bi-hexagon-fill" tag="departments" style="color: rgba(10, 35, 63, 1); font-size: 20px; margin-right: 5px;"></i>
                Departments
            </div>
            <div class="legend-item">
                <i class="bi bi-circle-fill" tag="partners" style="color: red; font-size: 20px; margin-right: 5px;"></i>
                Partners
            </div>
        </div>

        <div class="divider" style="margin: 10px 0;"></div>
        <div class="legend-section">
            <h4 style="margin-bottom: 5px;">Edges</h4>
            <div class="caption" style="margin-bottom: 5px;">Time til Expiration:</div>
            <div class="legend-item">
                <i class="bi bi-square-fill" style="color: #C41F4B; font-size: 20px; margin-right: 5px;"></i>
                Expired
            </div>
            <div class="legend-item">
                <i class="bi bi-square-fill" style="color: #FFC62F; font-size: 20px; margin-right: 5px;"></i>
                Less than a month
            </div>
            <div class="legend-item">
                <i class="bi bi-square-fill" style="color: #76BC43; font-size: 20px; margin-right: 5px;"></i>
                Over a month
            </div>
        </div>
    </div>
</div>

<script>

    //var checkList = document.getElementById('deptList');
    //checkList.querySelector('.c').onclick = function (evt) {
    //    if (checkList.classList.contains('visible'))
    //        checkList.classList.remove('visible');
    //    else
    //        checkList.classList.add('visible');
    //}

    document.getElementById('filterbtn').addEventListener('click', function () {
        toggleMenu('filtermenu');
        closeOtherMenus('filtermenu');
    });

    document.getElementById('legendbtn').addEventListener('click', function () {
        toggleMenu('legendmenu');
        closeOtherMenus('legendmenu');
    });

    //document.getElementById('settingsbtn').addEventListener('click', function () {
    //    toggleMenu('settingsmenu');
    //    closeOtherMenus('settingsmenu');
    //});

    function toggleMenu(menuClass) {
        var menu = document.querySelector('.' + menuClass);
        menu.classList.toggle('active');
    }

    function closeOtherMenus(activeMenu) {
        var menus = ['filtermenu', 'legendmenu'/*, 'settingsmenu'*/];
        menus.forEach(function (menu) {
            if (menu !== activeMenu) {
                var otherMenu = document.querySelector('.' + menu);
                if (otherMenu.classList.contains('active')) {
                    otherMenu.classList.remove('active');
                }
            }
        });
    }
</script>



