

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Visualization of Institutional Partnerships System</h1>
    <h4>UNF Office of Experiential Learning</h4>
</div>

<br />

<div class="search-container">
    <input type="text" id="searchBox" placeholder="Search..." class="search-home" />
    <button onclick="searchContracts()" class="btn btn-primary">Search</button>
</div>
<p>Search for connections between UNF Departments and our community partners</p>


<div id="visualizationContainer" class="visualization-container">
    <div id="mynetwork"></div>
    <div id="overlay" class="overlay">
        <div id="totalNodes" class="totalEdges"></div>
        <div id="totalEdges" class="totalEdges"></div>
    </div>
    <div id="sidebar" class="sidebar">
        <div id="sidebarNode"></div>
        <div id="sidebarEdge"></div>
    </div>

</div>

<div id="visnavbar" class="visnavbar">
    <button id="filterbtn" type="button">Filters</button>
    <div class="filtermenu menu-container menu-container-upwards">
        <a href="#">fOption 1</a>
        <a href="#">Option 2</a>
        <div id="deptList" class="dropdown-check-list" tabindex="100">
        </div>
    </div>

    <button id="legendbtn" type="button">Legend</button>
    <div class="legendmenu menu-container menu-container-upwards" style="padding: 10px;">
        <div class="legend-section">
            <h4 style="margin-bottom: 5px;">Nodes</h4>
            <div class="legend-item">
                <span style="background-color: purple; width: 20px; height: 20px; display: inline-block; margin-right: 5px;"></span>
                Schools
            </div>
            <div class="legend-item">
                <span style="background-color: rgba(10, 35, 63, 1); width: 20px; height: 20px; display: inline-block; margin-right: 5px;"></span>
                Departments
            </div>
            <div class="legend-item">
                <span style="background-color: red; width: 20px; height: 20px; display: inline-block; margin-right: 5px;"></span>
                Partners
            </div>
        </div>
        <div class="divider" style="margin: 10px 0;"></div>
        <div class="legend-section">
            <h4 style="margin-bottom: 5px;">Edges</h4>
            <div class="caption" style="margin-bottom: 5px;">Time til Expiration:</div>
            <div class="legend-item">
                <span style="background-color: #C41F4B; width: 20px; height: 20px; display: inline-block; margin-right: 5px;"></span>
                Expired
            </div>
            <div class="legend-item">
                <span style="background-color: #FFC62F; width: 20px; height: 20px; display: inline-block; margin-right: 5px;"></span>
                Less than a month
            </div>
            <div class="legend-item">
                <span style="background-color: #76BC43; width: 20px; height: 20px; display: inline-block; margin-right: 5px;"></span>
                Over a month
            </div>
        </div>
    </div>

    <button id="settingsbtn" type="button">Settings</button>
    <div class="settingsmenu menu-container menu-container-upwards">
        <a href="#">sOption 1</a>
        <a href="#">Option 2</a>
        <a href="#">Option 3</a>
    </div>
</div>

<script>

    //var checkList = document.getElementById('deptList');
    //checkList.querySelector('.c').onclick = function (evt) {
    //    if (checkList.classList.contains('visible'))
    //        checkList.classList.remove('visible');
    //    else
    //        checkList.classList.add('visible');
    //}

    document.getElementById('filterbtn').addEventListener('click', function () {
        toggleMenu('filtermenu');
        closeOtherMenus('filtermenu');
    });

    document.getElementById('legendbtn').addEventListener('click', function () {
        toggleMenu('legendmenu');
        closeOtherMenus('legendmenu');
    });

    document.getElementById('settingsbtn').addEventListener('click', function () {
        toggleMenu('settingsmenu');
        closeOtherMenus('settingsmenu');
    });

    function toggleMenu(menuClass) {
        var menu = document.querySelector('.' + menuClass);
        menu.classList.toggle('active');
    }

    function closeOtherMenus(activeMenu) {
        var menus = ['filtermenu', 'legendmenu', 'settingsmenu'];
        menus.forEach(function (menu) {
            if (menu !== activeMenu) {
                var otherMenu = document.querySelector('.' + menu);
                if (otherMenu.classList.contains('active')) {
                    otherMenu.classList.remove('active');
                }
            }
        });
    }
</script>



