@model VIPS.Models.ViewModels.Account.CreateViewModel

@{
    ViewData["Title"] = "Create User Account";
    Layout = "_Layout";
}

<!--<div asp-validation-summary="All" class="text-danger"></div>-->


<div class="box-padding">
    <div class="box-container">
        <br />
        <h2 class="box-heading">Sign Up</h2>
        <br />
        <form asp-controller="Account" asp-action="CreateAccount" asp-antiforgery="true" method="POST" class="box-form">
            <div class="form-group">
                <label class="control-label" asp-for="Email">Email</label>
                <input class="form-control" asp-for="Email" />
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Password">Password</label>
                <input class="form-control" asp-for="Password" type="password" />
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="ConfirmPassword">Confirm Password</label>
                <input class="form-control" asp-for="ConfirmPassword" type="password" />
            </div>
            <br />
            <button type="submit" class="box-button">Create</button>
            <p class="box-bottomtext">Already have an account?</p>
            <a asp-controller="Account" asp-action="Login" class="box-bottomtext">Login</a>
                
            
        </form>

    </div>

</div>
