@model VIPS.Models.ViewModels.Account.ForgotPassword.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_Layout";
}

<div class="box-padding">
    <div class="box-container">
        <br />
        <h2 class="box-heading">Forgot Password</h2>
        <form asp-controller="Account" asp-action="ForgotPasswordSendEmail" asp-antiforgery="true" method="POST" class="box-form">
            <p class="box-bottomtext">
                Enter the email address associated with your account
                and we will send you a link to reset your password
            </p>
            <div class="form-group">
                <label class="control-label" asp-for="Email">Email</label>
                <input class="form-control" asp-for="Email" />
            </div>

            <br />
            <button type="submit" class="box-button">Submit</button>
            <br /><br />
            <a asp-controller="Account" asp-action="Login" class="box-bottomtext">Back to Login</a>
                
                    
        </form>
    </div>
</div>



