@model VIPS.Models.ViewModels.Account.ForgotPassword.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
    Layout = "_Layout";
}
<h4>Requirements: </h4>
<a>Password: must contain at least one number, uppercase and lowercase letter, and be at least 8 or more characters</a>
<div class="box-padding">
    <div class="box-container">
        <br />
        <h2 class="box-heading">Reset Password</h2>
        <br />
        <form asp-controller="Account" asp-action="ResetPasswordUpdate" asp-antiforgery="true" method="POST" class="box-form">
            <input type="hidden" asp-for="Email" value="@Model.Email" />
            <input type="hidden" asp-for="ResetCode" value="@Model.ResetCode" />
            <div class="form-group">
                <label class="control-label" asp-for="NewPassword">Password</label>
                <input class="form-control" asp-for="NewPassword" type="password" />
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="ConfirmPassword">Confirm Password</label>
                <input class="form-control" asp-for="ConfirmPassword" type="password" />
            </div>

            <br />
            <button type="submit" class="box-button">Submit</button>
            <br /><br />
            <a asp-controller="Home" asp-action="Index" class="box-bottomtext">Return Home</a>
                
        </form>
    </div>
</div>