@model VIPS.Models.ViewModels.Account.ForgotPassword.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
    Layout = "_Layout";
}

<form asp-controller="Account" asp-action="ResetPasswordUpdate" asp-antiforgery="true" method="POST" class="form-horizontal">
    <input type="hidden" asp-for="Email" value="@Model.Email" />
    <input type="hidden" asp-for="ResetCode" value="@Model.ResetCode" />
    <div class="form-group">
        <label class="control-label" asp-for="NewPassword">Password:</label>
        <input class="form-control" asp-for="NewPassword" type="password" />
    </div>
    <div class="form-group">
        <label class="control-label" asp-for="ConfirmPassword">Confirm Password:</label>
        <input class="form-control" asp-for="ConfirmPassword" type="password" />
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>