@{
    ViewData["Title"] = "Visualization";
}
<h1 class="display-4" style="text-align: center;">Visualization</h1>

<div id="visualizationContainer" class="visualization-container">
    <div id="mynetwork"></div>
    <div id="overlay" class="overlay">
        <div id="totalNodes" class="totalEdges"></div>
        <div id="totalEdges" class="totalEdges"></div>
    </div>
    <div id="sidebar" class="sidebar">
        <div id="sidebarNode"></div>
        <div id="sidebarEdge"></div>
    </div>

</div>