@{
    ViewData["Title"] = "Visualization";
}

<h1 class="display-4" style="text-align: center;">Visualization</h1>

<div class="visualization-container">
    <div id="mynetwork"></div>
    <div id="sidebar" class="sidebar">
        <div id="sidebarNode">
        </div>
        <div id="sidebarEdge">
        </div>
    </div>
</div>