@model Common.Entities.CSV


<h2>List with Warning Font Color</h2>

<style>
    .card-body {
        padding-left: 10px; /* Add padding to the card body */
    }

    .card-title {
        padding-left: 10px; /* Add padding to the card body */
    }

</style>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item text-danger">@Model.ErrorDescription</li>
    </ul>
</div>

<hr>

<div class="container">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <h2 class="card-title">Critical Information</h2>
                <div class="card-body">
                    <!-- Add class for card body -->
                    <p class="card-content">Information about Card 1 goes here.</p>
                    <p class="card-content">Contract ID: 58974</p>
                    <p class="card-content">Contract Name: AA  - Tampa General Hospital (CRNA&ARNP Program)</p>
                    <p class="card-content">Date Created: 8/24/5</p>
                    <p class="card-content">Owner: Carolyn Smith</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <h2 class="card-title">Description</h2>
                <p class="card-content">Information about Card 2 goes here.</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <h2 class="card-title">Department Info</h2>
                <p class="card-content">Information about Card 1 goes here.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <h2 class="card-title">Agency Information</h2>
                <p class="card-content">Agency Name: Tampa General Hospital (CRNA &amp; ARNP) Program</p>
                <p class="card-content">Mailing Address: Davis Island P.O. Box 1289</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <h2 class="card-title">Card 1</h2>
                <p class="card-content">Information about Card 1 goes here.</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <h2 class="card-title">Card 2</h2>
                <p class="card-content">Information about Card 2 goes here.</p>
            </div>
        </div>
    </div>
    <!-- Add more rows and cards as needed -->
</div>
