@model Common.Entities.CSV

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CSV</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ContractID" class="control-label"></label>
                <input asp-for="ContractID" class="form-control" />
                <span asp-validation-for="ContractID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractName" class="control-label"></label>
                <input asp-for="ContractName" class="form-control" />
                <span asp-validation-for="ContractName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractOrigin" class="control-label"></label>
                <input asp-for="ContractOrigin" class="form-control" />
                <span asp-validation-for="ContractOrigin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractTypeName" class="control-label"></label>
                <input asp-for="ContractTypeName" class="form-control" />
                <span asp-validation-for="ContractTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentStageAssignees" class="control-label"></label>
                <input asp-for="CurrentStageAssignees" class="form-control" />
                <span asp-validation-for="CurrentStageAssignees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DaysInCurrStage" class="control-label"></label>
                <input asp-for="DaysInCurrStage" class="form-control" />
                <span asp-validation-for="DaysInCurrStage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExternalContractReferenceID" class="control-label"></label>
                <input asp-for="ExternalContractReferenceID" class="form-control" />
                <span asp-validation-for="ExternalContractReferenceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FolderName" class="control-label"></label>
                <input asp-for="FolderName" class="form-control" />
                <span asp-validation-for="FolderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locked" class="control-label"></label>
                <input asp-for="Locked" class="form-control" />
                <span asp-validation-for="Locked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Owner" class="control-label"></label>
                <input asp-for="Owner" class="form-control" />
                <span asp-validation-for="Owner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimaryDocument" class="control-label"></label>
                <input asp-for="PrimaryDocument" class="form-control" />
                <span asp-validation-for="PrimaryDocument" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelatedToContract" class="control-label"></label>
                <input asp-for="RelatedToContract" class="form-control" />
                <span asp-validation-for="RelatedToContract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelatedToContractID" class="control-label"></label>
                <input asp-for="RelatedToContractID" class="form-control" />
                <span asp-validation-for="RelatedToContractID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StageName" class="control-label"></label>
                <input asp-for="StageName" class="form-control" />
                <span asp-validation-for="StageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedOn" class="control-label"></label>
                <input asp-for="UpdatedOn" class="form-control" />
                <span asp-validation-for="UpdatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workflow" class="control-label"></label>
                <input asp-for="Workflow" class="form-control" />
                <span asp-validation-for="Workflow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgramsOrCourses" class="control-label"></label>
                <input asp-for="ProgramsOrCourses" class="form-control" />
                <span asp-validation-for="ProgramsOrCourses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CCECMajors" class="control-label"></label>
                <input asp-for="CCECMajors" class="form-control" />
                <span asp-validation-for="CCECMajors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutoRenewal" class="control-label"></label>
                <input asp-for="AutoRenewal" class="form-control" />
                <span asp-validation-for="AutoRenewal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractCategory" class="control-label"></label>
                <input asp-for="ContractCategory" class="form-control" />
                <span asp-validation-for="ContractCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgencyMailingAddress1" class="control-label"></label>
                <input asp-for="AgencyMailingAddress1" class="form-control" />
                <span asp-validation-for="AgencyMailingAddress1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgencyMailingAddress2" class="control-label"></label>
                <input asp-for="AgencyMailingAddress2" class="form-control" />
                <span asp-validation-for="AgencyMailingAddress2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgencyName" class="control-label"></label>
                <input asp-for="AgencyName" class="form-control" />
                <span asp-validation-for="AgencyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BCH_AgingServicesManagement" class="control-label"></label>
                <input asp-for="BCH_AgingServicesManagement" class="form-control" />
                <span asp-validation-for="BCH_AgingServicesManagement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BCH_AthleticTraining" class="control-label"></label>
                <input asp-for="BCH_AthleticTraining" class="form-control" />
                <span asp-validation-for="BCH_AthleticTraining" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BCH_College" class="control-label"></label>
                <input asp-for="BCH_College" class="form-control" />
                <span asp-validation-for="BCH_College" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BCH_ExerciseScience" class="control-label"></label>
                <input asp-for="BCH_ExerciseScience" class="form-control" />
                <span asp-validation-for="BCH_ExerciseScience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BCH_HealthAdministration" class="control-label"></label>
                <input asp-for="BCH_HealthAdministration" class="form-control" />
                <span asp-validation-for="BCH_HealthAdministration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BCH_InterdisciplinaryHealthStudies" class="control-label"></label>
                <input asp-for="BCH_InterdisciplinaryHealthStudies" class="form-control" />
                <span asp-validation-for="BCH_InterdisciplinaryHealthStudies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BCH_MentalHealthCounseling" class="control-label"></label>
                <input asp-for="BCH_MentalHealthCounseling" class="form-control" />
                <span asp-validation-for="BCH_MentalHealthCounseling" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BCH_NurseAnesthetist" class="control-label"></label>
                <input asp-for="BCH_NurseAnesthetist" class="form-control" />
                <span asp-validation-for="BCH_NurseAnesthetist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BCH_Nursing" class="control-label"></label>
                <input asp-for="BCH_Nursing" class="form-control" />
                <span asp-validation-for="BCH_Nursing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BCH_NutritionDietetics" class="control-label"></label>
                <input asp-for="BCH_NutritionDietetics" class="form-control" />
                <span asp-validation-for="BCH_NutritionDietetics" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BCH_PhysicalTherapy" class="control-label"></label>
                <input asp-for="BCH_PhysicalTherapy" class="form-control" />
                <span asp-validation-for="BCH_PhysicalTherapy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BCH_PublicHealth" class="control-label"></label>
                <input asp-for="BCH_PublicHealth" class="form-control" />
                <span asp-validation-for="BCH_PublicHealth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="COEHSPrograms" class="control-label"></label>
                <input asp-for="COEHSPrograms" class="form-control" />
                <span asp-validation-for="COEHSPrograms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultyInitiator" class="control-label"></label>
                <input asp-for="FacultyInitiator" class="form-control" />
                <span asp-validation-for="FacultyInitiator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Graduate_Undergraduate" class="control-label"></label>
                <input asp-for="Graduate_Undergraduate" class="form-control" />
                <span asp-validation-for="Graduate_Undergraduate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimaryContact" class="control-label"></label>
                <input asp-for="PrimaryContact" class="form-control" />
                <span asp-validation-for="PrimaryContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Renewal" class="control-label"></label>
                <input asp-for="Renewal" class="form-control" />
                <span asp-validation-for="Renewal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitleCert" class="control-label"></label>
                <input asp-for="TitleCert" class="form-control" />
                <span asp-validation-for="TitleCert" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Error" /> @Html.DisplayNameFor(model => model.Error)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ErrorDescription" class="control-label"></label>
                <input asp-for="ErrorDescription" class="form-control" />
                <span asp-validation-for="ErrorDescription" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Duplicate" /> @Html.DisplayNameFor(model => model.Duplicate)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
